html {
    scroll-behavior: smooth;
  }
body
{
     margin: 0px;
     padding: 0px;
     background-color: #0f172a;
}
.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f172a;
    padding: 0px 5%;
    z-index: 100; 
} 

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #0f172a;
    box-shadow: 2px,2px,12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul
{
    display: flex;
}

nav ul li a
{
    margin: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cbd5e1;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover
{
    
    color: #fff;
}


.logo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#cbd5e1;
    font-size: 25px;
    font-weight: bold;
}

.logo:hover
{
    color: #fff;
}

#home
{
    width: 100%;
    height: 95vh;
    position: relative;
}

.home p
{
    line-height: 0px;
    margin: 45px 0px 25px;
    color:#cbd5e1;
}

.home p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#cbd5e1;
    font-size: 20px;
}
.home p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#cbd5e1;
    letter-spacing: none;
    font-size: 30px;
}

.home p:nth-child(3)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#cbd5e1;
    font-size: 30px;
}

.home p:nth-child(4)
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#cbd5e1;
    font-size: 20px;
    line-height: 3 0px ;
}

.home
{
    position: absolute;
    left: 5%;
    right: 40%;
    transform: translate(5% , 10%);
}

.picture
{
    width: 200px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 20%;
    transform:translateX(-70%);
}

.about
{
    height: 80vh;
    background-color: #1e293b;
    padding: 2% 10% 10%;
}

.about-desc
{
    margin: 50px 50px;
}

.about-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #cbd5e1;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cbd5e1;
    text-align: center;
}

.row
{
    margin: 30px;
    padding: 50px;
    display: flex;
    color: #cbd5e1;
}

.row .column h2
{
    text-align: center;
}

.row .column p
{
    text-align: justify;
}

.column
{
    flex: 50%;
    padding: 30px;
    height: 200px;
}

.skill
{
    height: 65vh;
    background-color:#0f172a;
    padding: 2% 10% 10%;
}

.skill-desc
{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #cbd5e1;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #cbd5e1;
    text-align: center;
}

.box-container
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    color: #cbd5e1;
}

.box-1,.box-2,.box-3
{
    width: 350px;
    height: 320px;
    background-color: #1e293b;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border-radius: 10%;
}

.box-1 span,.box-2 span,.box-3 span
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0f172a;
    color: #cbd5e1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#cbd5e1;
    width: 250px;
    margin: 0px 0px 50px 0px;
}

.contact
{
    height: 60vh;
    background-color: #1e293b;
    padding: 2% 10% 10%;
    text-align: center;
    align-items: center;
}

.contact-desc
{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:  #cbd5e1;
    font-size: 30px;
    line-height: 0px ;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #cbd5e1;
    text-align: center;
}

.sosial-icon
{
    margin: 30px 0px;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
}

.sosial-icon a
{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
    background-color:#0f172a;
    border-radius: 50%;
}

.sosial-icon i
{
    font-size: 35px;
    color: #cbd5e1;
}

.sosial-icon a:hover
{
    background-color: #fff;
    box-shadow: #cbd5e1;
}

footer
{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #0f172a;
}

footer p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(1)
{
    font-size: 12px;
    font-weight: bold;
    color: #cbd5e1;
    line-height: 20px;
}


